extends layout

block content
    #banner.page-headers
        .row
            .col-md-6.col-sm-12
                h1= title
    .row
        .col-md-6.col-sm-12
            p
                | Loc8tr was created to help people find places ro work
                | <br /><br />
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at arcu nisi. Duis est lectus, volutpat ut ex sed, porttitor pellentesque ex. In hac habitasse platea dictumst. In ornare risus nisi. Ut tincidunt, arcu sed molestie maximus, nunc dui aliquet ante, eget pharetra magna diam eu nunc. Aliquam lacus est, lacinia eget pharetra vel, interdum ut quam. Donec sem risus, laoreet eu venenatis non, tempus et lorem. Praesent gravida justo nec erat ultricies vestibulum. Suspendisse vel sem quis tortor tempor placerat. Nunc feugiat nisi et volutpat vehicula. Nunc non lorem est. Donec vel placerat mi, sed pulvinar nibh. Cras ac libero rutrum, dignissim metus eget, scelerisque elit. Duis in eros dignissim, porta tellus a, mattis quam.

 